    {% extends 'PylifeBundle::header.html.twig' %}

    {% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="{{path('pylife_homepage')}}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                <li class="active">Home</li>
            </ol>
        </div><!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Pltipopenalizacions list</h1>
            </div>
        </div><!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">DescripcionModulo</div>
                    <div class="panel-body">
                        <div class="col-md-12">

                            <table data-toggle="table">
                                <thead>
                                <tr>
                                        <th>Id</th>
                                        <th>Ptinombre</th>
                                        <th>Ptinombremaquina</th>
                                        <th>Ptivalor</th>
                                        <th>Pticreatedat</th>
                                        <th>Ptiupdatedat</th>
                                        <th>Ptiactive</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for plTipoPenalizacion in plTipoPenalizacions %}
                                <tr>
                                            <td><a href="{{ path('tipena_show', { 'id': plTipoPenalizacion.id }) }}">{{ plTipoPenalizacion.id }}</a></td>
                                            <td>{{ plTipoPenalizacion.ptiNombre }}</td>
                                            <td>{{ plTipoPenalizacion.ptiNombreMaquina }}</td>
                                            <td>{{ plTipoPenalizacion.ptiValor }}</td>
                                            <td>{% if plTipoPenalizacion.ptiCreatedAt %}{{ plTipoPenalizacion.ptiCreatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>{% if plTipoPenalizacion.ptiUpdatedAt %}{{ plTipoPenalizacion.ptiUpdatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>{% if plTipoPenalizacion.ptiActive %}Yes{% else %}No{% endif %}</td>
                                            <td>
                                                <ul>
                                                        <li>
                                                            <a href="{{ path('tipena_show', { 'id': plTipoPenalizacion.id }) }}">show</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('tipena_edit', { 'id': plTipoPenalizacion.id }) }}">edit</a>
                                                        </li>
                                                </ul>
                                            </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <ul>
                                    <li>
                                        <a href="{{ path('tipena_new') }}">Create a new plTipoPenalizacion</a>
                                    </li>
                                </ul>                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->
    <script>
	    $(function () {
		    $('#hover, #striped, #condensed').click(function () {
			    var classes = 'table';

			    if ($('#hover').prop('checked')) {
				    classes += ' table-hover';
			    }
			    if ($('#condensed').prop('checked')) {
				    classes += ' table-condensed';
			    }
			    $('#table-style').bootstrapTable('destroy')
				    .bootstrapTable({
					    classes: classes,
					    striped: $('#striped').prop('checked')
				    });
		    });
	    });

	    function rowStyle(row, index) {
		    var classes = ['active', 'success', 'info', 'warning', 'danger'];

		    if (index % 2 === 0 && index / 2 < classes.length) {
			    return {
				    classes: classes[index / 2]
			    };
		    }
		    return {};
	    }
	    !function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
			    $(this).find('em:first').toggleClass("glyphicon-minus");
		    });
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
	    }(window.jQuery);

	    $(window).on('resize', function () {
		    if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
	    })
	    $(window).on('resize', function () {
		    if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
	    })
    </script>

    {% endblock %}
