{% extends 'PylifeBundle::header.html.twig' %}

{% block body %}
	<style>
		.panel-heading {
			height: auto;
		}
		.verticalCenter {
			position: relative;
			top: 50%;
			-webkit-transform: translateY(75%);
			-ms-transform: translateY(75%);
			transform: translateY(75%);
		}
	
	</style>
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="{{path('pylife_homepage')}}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Compra de Productos</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Compra de Producto</h1>
			</div>
		</div><!--/.row-->
		
		<div class="row container">
			<div class="panel-group col-lg-11 col-md-11" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel">
					<div class="panel-heading panel-blue" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						<h4 class="panel-title">
							Realizar Compra
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-lg-2 col-md-2">
									<label for="proPath" class="control-label">Visualizacion</label>
									<div id="proImg" class="text-center"></div>
								</div>
								<div class="form-group col-lg-5 col-md-5">
									<label for="proName" class="control-label">Producto</label>
									<select name="proName" id="proName" class="form-control">
										<option value="">Seleccione un Producto...</option>
										{% for plPros in plPro %}
											<option value="{{ plPros.id }}">{{ plPros.proNombre }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="form-group col-lg-2 col-md-2">
									<label for="proCantidad" class="control-label">Cantidad</label>
									<input type="number" id="proCantidad" value="0" class="form-control">
									<div class="text-center">
										<span  class="badge bg-warning text-center">Existencias <span id="proExis"></span></span>
									</div>
								</div>
								<div class="form-group col-lg-2 col-md-2">
									<label for="addPro" class="control-label"> </label>
									<input type="button" name="addPro" id="addPro" class="btn btn-success  verticalCenter" value="Agregar">
								</div>
							</div>
							<hr>
							<div id="listProduct_div" class=" col-md-12 col-lg-12">
								<table id="listProduct" data-toggle="table" data-search="true" data-pagination="true" data-unique-id="id">
									<thead>
									<tr>
										<th data-field="proVisua">Visualizacion</th>
										<th data-field="id">ID</th>
										<th data-field="proNombre">Nombre</th>
										<th data-field="proCantidad">Cantidad</th>
										<th data-field="proPuntosUnidad">Puntos</th>
										<th data-field="proMonto">Monto</th>
										<th data-field="proDesc">Descuento</th>
										<th data-field="proPuntos">Puntos Totales</th>
										<th data-field="proSubTotal">Sub Total</th>
										<th data-field="proSubTotalDescuento">Total Descuento</th>
										<th data-field="proActions"></th>
									</tr>
									</thead>
								</table>
							</div>
							<div class="clearfix"></div>
							<hr>
							<div class="row col-md-11 col-lg-11">
								<h3>Datos de Cliente</h3>
								<div class="form-group col-lg-5 col-md-5">
									<label for="nombreFactura" class="control-label">Nombre de Facturacion</label>
									<h4 id="nombreFactura">{{ usuario.usrNombre}} {{ usuario.usrApellido }}</h4>
								</div>
								<div class="form-group col-lg-5 col-md-5">
									<label for="usrNit" class="control-label">NIT</label>
									<h4 id="usrNit">{{ usuario.usrNit }}</h4>
								</div>
							</div>
							<div class="row col-md-11 col-lg-11">
								<div class="form-group col-lg-5 col-md-5">
									<label for="usrDireccion" class="control-label">Direccion de Envio</label>
									<h4 id="usrDireccion">{{ usuario.usrDireccion }}</h4>
								</div>
								<div class="form-group col-lg-5 col-md-5">
									<label for="usrPa" class="control-label">Pais</label>
									<h4 id="usrPa">{{ usuario.usrPa }}</h4>
								</div>
							</div>
							<div class="clearfix"></div>
							<hr>
							<div class="row col-md-11 col-lg-11">
								<div class="form-group col-lg-2 col-md-2">
									<label for="saveCompra" class="control-label"> </label>
									<input type="button" name="saveCompra" id="saveCompra" class="btn btn-success" value="Realizar Compra">
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading panel-teal" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						<h4 class="panel-title">
							Compras Anteriores
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							{{ ventas|raw }}
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.col-->
		<div class="row">
		
		</div>
	</div><!-- /.row -->
	<script>
		var allPro = {{ existencias|raw }};
		var raDesc = {{ rango.raDescuentoMin }} /100;
		$(document).ready(function(){
			$("#proName").on('change',function(){
				var proId = parseInt($("#proName option:selected").val());
				$.each(allPro,function(index,pro){
					if(pro.id === proId){
						$("#proImg").html('<img src="{{ asset('uploads/images/') }}'+pro.proPath+'" height="100" width="100">');
						$("#proExis").html(pro.exist);
						if(pro.exist <= 0){
							$("#addPro").hide();
						}else{
							$("#addPro").show();
						}
					}
				});
			});
			
			$("#addPro").on('click',function(){
				var proId = parseInt($("#proName option:selected").val());
				if($("#proName option:selected").val()==""){
					alert("Favor de seleccionar un producto del listado.");
					return false;
				}
				if($("#proCantidad").val()==0){
					alert("Favor de indicar la cantidad de productos a comprar.");
					return false;
				}
				var allDataTable = $('#listProduct').bootstrapTable('getData');
				var repetido = false;
				if (allDataTable.length > 0 ){
					$.each(allDataTable ,function(index,data){
						if (parseInt(data.id) == proId){
							repetido = true;
						}
					});
				}
				
				var rowCount = $('#listProduct tr').length;
				
				$.each(allPro,function(index,pro){
					//$("#proExis").val()
					if(pro.id === proId && repetido == false){
						allPro[index].exist -= parseInt($("#proCantidad").val());
						$("#proExis").html(pro.exist);
						var subTotal = parseInt(pro.proPrecio)*parseInt($("#proCantidad").val());
						$('#listProduct').bootstrapTable('insertRow', {
							index: rowCount +1,
							row: {
								proVisua: '<img src="{{ asset('uploads/images/') }}'+pro.proPath+'" height="100" width="100">',
								id: pro.id,
								proNombre: pro.proNombre,
								proCantidad: parseInt($("#proCantidad").val()),
								proPuntosUnidad: pro.proPuntos,
								proPuntos: parseInt(pro.proPuntos)*parseInt($("#proCantidad").val()),
								proMonto: "Q. "+pro.proPrecio,
								proDesc: (raDesc*100) + "%",
								proSubTotal: "Q. "+subTotal,
								proSubTotalDescuento: subTotal - (raDesc*subTotal),
								proActions: '<button type="button" class="close" aria-label="Close" onclick="removeRow('+pro.id+')"><span aria-hidden="true">&times;</span></button>'
							}
						});
					}
				});
				
			});
			
			$("#saveCompra").on('click',function(){
				var allDataTable = $('#listProduct').bootstrapTable('getData');
				if(allDataTable.length ===0 ){ alert("Por Favor ingrese productos en el carrito de compras para continuar con la compra."); return false; }
				$.ajax({
					async: true,
					type: 'POST',
					url: '{{ path('miscompras_new') }}',
					datatype: 'json',
					data: {'ventaDetalle':allDataTable},
					success: function(data) {
						if(data == 1){
							alert("Su compra fue realizada exitosamente!.");
							location.reload();
						}
						if( data != 1 ){ alert("Ha Ocurrido un error, vuelva a intentar. Si persiste, por favor contactar a IS");}
					}
				});
			});
			
		});
		function removeRow(id){
			var rowTable = $('#listProduct').bootstrapTable('getRowByUniqueId',id);
			$.each(allPro,function(index,pro) {
				if(pro.id === id) {
					allPro[index].exist += parseInt(rowTable.proCantidad);
					$("#proExis").html(pro.exist);
				}
			})
			
			$('#listProduct').bootstrapTable('removeByUniqueId',id);
		}
		$(function () {
			$('#hover, #striped, #condensed').click(function () {
				var classes = 'table';
				
				if ($('#hover').prop('checked')) {
					classes += ' table-hover';
				}
				if ($('#condensed').prop('checked')) {
					classes += ' table-condensed';
				}
				$('#table-style').bootstrapTable('destroy')
					.bootstrapTable({
						classes: classes,
						striped: $('#striped').prop('checked')
					});
			});
		});
		
		function rowStyle(row, index) {
			var classes = ['active', 'success', 'info', 'warning', 'danger'];
			
			if (index % 2 === 0 && index / 2 < classes.length) {
				return {
					classes: classes[index / 2]
				};
			}
			return {};
		}
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){
				$(this).find('em:first').toggleClass("glyphicon-minus");
			});
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);
		
		$(window).on('resize', function () {
			if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
			if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>

{% endblock %}